[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
mysqlclient = "*"
django-cors-headers = "*"
pillow = "*"
django-cleanup = "*"
django-filter = "*"
pytz = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
